@model prj.Models.user


@{
    ViewBag.Title = "LogIn";
}

<br/><br /><br /><br /><br /><br />
<div class="container">
    <form class="form-signin well" method="post" action="@Url.Action("LogInUser", "Account")" onsubmit=" return validateForm()">
        
        <div id="Register">
            <fieldset>
                <legend class="label label-info">Sign In</legend>
                <span id="credentials" class="text-danger"></span><br />
                <span>Email *</span><input type="text" name="email"
                                              class="form-control" maxlength="20"
                                              autocomplete="on"
                                              id="uname"
                                              placeholder="Username" />
                <br />
                <span>
                    Password *<br /><span id="pwd" class="text-danger"></span>
                </span><input type="password" name="password" id="passwordSignIn"
                              autocomplete="on" class="form-control"
                              placeholder="Password" onblur="removeBorder()" />
            </fieldset>

        </div>
        <input type="submit" class="btn btn-sm btn-primary" id="registerBtn"
               value="Sign in" role="button" /> <a href="@Url.Action("Index","Admin")" class="btn btn-sm btn-success" id="registerBtnAdmin"
       role="button">Sign in as Admin</a><br/>
    </form>
</div>
