@model prj.Models.user

@{
    ViewBag.Title = "AboutUs";
}


<br />
<br />
<br />

<div class="jumbotron">
    <div class="well well-lg" id="homeBg">
        
        <h1 class="text-uppercase text-center" style="color: black ">Pick and choose </h1>
        <p class="lead text-center" style="color: black">This website is an attempt to make an ease for<br/>
            you by providing you a glance of the different brand's watch, <br />
            so that you may have an idea regarding to them before buying.<br />
            <br />
            
            Please Login to view the produts or Sign Up (if you don't have an account).<br/>        
        </p>
    </div>


    <div  class="row">
        <div class="col-md-4">
            <div class="well" style="width: 200px">
                <img class="img-responsive img-rounded" src="~/Content/img/watches/15.jpg" height="300" width="300" />
            </div>
            <p>Classy</p>
              </div>
    
        <div class="col-md-4">
            <div class="well" style="width: 200px">
                <img class="img-responsive img-rounded" src="~/Content/img/watches/10.jpg" height="300" width="300" />
            </div>
            <p>Adorable</p>
        </div>
    
        <div class="col-md-4">
            <div class="well" style="width: 200px">
                <img class="img-responsive img-rounded" src="~/Content/img/watches/14.jpg" height="300" width="300" />
            </div>
            <p>Luxurious</p>
        </div>
    </div>

</div>