@model prj.Models.user
@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<br />

<div class="jumbotron">
    <div class="well well-lg" id="contactBg">
        <h1>Contact us on </h1>
        <p>0320-3475980<br /><br/>timein@gmail.com<br/></p>
    </div>
</div>