@using prj.Models
@model List<prj.Models.Offer>

@{
    ViewBag.Title = "Offer";
}

<div class="container">
    <div class="row">
        @if (Model.Count == 0)
        {
            <h1>No Offers. Keep Visiting for new and Exciting Offers</h1>
        }
        else
        {

            foreach (Offer f in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <p>New Offer</p>
                        </div>

                        <div class="panel-body">
                            <div class="img-responsive"><img class="img-rounded" src="~/Uploads/@f.Image" width="300" height="200" /></div>
                            <div>
                                <p class="lead">@f.Description</p>
                            </div>
                        </div>

                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

